{% extends 'base.html' %}
{% block content %}
<div class="container">

    <form class="grid" action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file-input" id="label">
            Choose Photos
        </label>
        <input type="file" name="files[]" id="file-input" onchange="preview()" multiple required>
       <input type="submit" value="Upload" class="button" style="float: right;">
    </form>
    <p id="num-of-files"></p>
    <div id="images">
        {%for file in filenames%}
        <img src="{{ file }}"> <br>
        {%endfor%}
    </div>
</div>
{% endblock %}